html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #1f1f22;
}

nav {
    background-color: #343a40 !important;
    color: rgba(255, 255, 255, 0.75) !important;
}

@media screen and (prefer-color-scheme: light) {
    body {
        background-color: #dbdbdb;
        color: #1f1f22;
    }
    .navbar {
        background-color: #eeeeee !important;
    }
    .nav-link {
        color: rgba(0, 0, 0, 0.75) !important;
    }
}