.removeContent {
	display: none;
	position: absolute;
	float: right;
	cursor: pointer;
	margin-top: 0.35em;
	width: 1rem;
	z-index: 3;
	-moz-transform: translateX(94%);
	-ms-transform: translateX(94%);
	-webkit-transform: translateX(94%);
	-o-transform: translateX(94%);
	transform: translateX(94%);
}

input:not(:placeholder-shown)+.removeContent, input:focus+.removeContent, .removeContent:hover {
	display: block;
}