html,
body {
    width: 100%;
    height: 100%;
}

* {
    scrollbar-width: thin;
}

body {
    background-color: #1f1f22 !important;
}

nav {
    background-color: #343a40 !important;
    color: rgba(255, 255, 255, 0.75) !important;
}

main {
    /*background: #11998e;
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
    background: linear-gradient(to right, #38ef7d, #11998e);
    /*Quepal*/
    /*background: #36D1DC;
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
    background: linear-gradient(to right, #5B86E5, #36D1DC);
    /*Scooter*/
    /*background: #DA22FF;
    background: -webkit-linear-gradient(45deg, #9733EE, #DA22FF);
    background: linear-gradient(45deg, #9733EE, #DA22FF);*/
    /*Intuitive Purple*/
}

.bg-dark {
    background-color: rgba(0, 0, 0, 0.15) !important;
}

.border-3 {
    border-width: 3px !important;
}

@media screen and (prefer-color-scheme: light) {
    body {
        background-color: #dbdbdb;
        color: #1f1f22;
    }
    .navbar {
        background-color: #eeeeee !important;
    }
    .nav-link {
        color: rgba(0, 0, 0, 0.75) !important;
    }
}