<form method="POST" action="index.php?ctl=admin" class="form-signin col-md" method="POST">
    <div class="text-center mb-4 text-white">
        <h3>Teacher</h3>
    </div>

    <div class="form-row d-flex justify-content-around align-items-center">
        <div class="form-group col-md-2">
            <label for="inputTeacherUsername">Username (*)</label>
            <input type="text" class="form-control" id="inputTeacherUsername" aria-describedby="teacherUsernameHelp" placeholder="Enter Username" required>
            <small id="teacherUsernameHelp" class="form-text text-muted">✓ Is available.</small>
        </div>

        <div class="form-group col-md">
            <label for="inputTeacherPassword">Password (*)</label>
            <input type="password" class="form-control" id="inputTeacherPassword" aria-describedby="teacherPasswordHelp" placeholder="Password" required>
            <small id="teacherPasswordHelp" class="form-text text-muted">Alphanumeric combination, 8 to 24
                characters.</small>
        </div>

        <div class="form-group col-md">
            <label for="inputTeacherName">Full Name (*)</label>
            <input type="text" class="form-control" id="inputTeacherName" aria-describedby="teacherNameHelp" placeholder="Enter name" required>
            <small id="teacherNameHelp" class="form-text text-muted">Enter your full name
                <!--, the one you are legally recognized with-->.</small>
        </div>

        <div class="form-group col-md-3">
            <label for="inputTeacherEmail">Email address (*)</label>
            <input type="email" class="form-control" id="inputTeacherEmail" aria-describedby="teacherEmailHelp" placeholder="Enter email" required>
            <small id="teacherEmailHelp" class="form-text text-muted">We'll never share your email with anyone
                else.</small>
        </div>

        <div class="form-group col-md-1">
            <button class="btn btn-lg btn-primary btn-block" name="createTeacher" type="submit">Add</button>
            <button class="btn btn-lg btn-primary btn-block" name="updateTeacher" type="submit">Modify</button>
            <button class="btn btn-lg btn-primary btn-block" name="deleteTeacher" type="submit">Remove</button>
        </div>
    </div>
</form>