<form method="POST" class="form-signin col-md" method="POST">
    <div class="text-center mb-4 text-white">
        <h3>Classroom</h3>
    </div>

    <div class="form-row d-flex justify-content-around align-items-center">
        <div class="form-group col-md-1">
            <label for="inputClassroomName">Name (*)</label>
            <input type="text" class="form-control" id="inputClassroomName" name="inputClassroomName"
                aria-describedby="classroomNameHelp" placeholder="208" required>
            <small id="classroomNameHelp" class="form-text text-muted">Code class.</small>
        </div>

        <div class="form-group col-md">
            <label for="inputClasroomDescription">Short description (optional)</label>
            <input type="text" class="form-control" id="inputClasroomDescription" name="inputClasroomDescription"
                aria-describedby="classroomDescriptionHelp" placeholder="Every student is going to pass">
            <small id="classroomDescriptionHelp" class="form-text text-muted">Short description about it's
                details.</small>
        </div>

        <div class="form-group col-md-3">
            <label for="selectClasroomState">State (*)</label>
            <select class="form-control" id="selectClasroomState" name="selectClasroomState"
                aria-describedby="clasroomStateHelp">
                <option value="perfect">Perfect</option>
                <option value="on_repair">On repair</option>
                <option value="left_out">Left out</option>
            </select>
            <small id="clasroomStateHelp" class="form-text text-muted">How's the classroom?</small>
        </div>

        <div class="form-group col-md-1">
            <button class="btn btn-lg btn-primary btn-block" name="createClassroom" type="submit">Add</button>
            <button class="btn btn-lg btn-primary btn-block" name="updateClassroom" type="submit">Modify</button>
            <button class="btn btn-lg btn-primary btn-block" name="deleteClassroom" type="submit">Remove</button>
        </div>
    </div>
</form>
<script src="./scripts/js/inputs.js"></script>