.card-icon {
    z-index: 5;
    cursor: pointer;
}

.card-icon:hover {
    background: rgba(0, 0, 0, 0.25) !important;
}

.card.free {
    background: rgb(63, 140, 255) !important;
}

.card.yours {
    background: rgb(255, 178, 63) !important;
}